#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

:root {
	--black: #0c090b;
	--gray-100: #f3f4f6;
	--gray-200: #e5e7eb;
	--gray-300: #485262;
	--gray-500: #374151;
	--slate-200: #cbd5e1;
	--slate-400: #64748b;
	--zinc-700: #27272a;
	--indigo-700: #4338ca;
	--blue-400: #1677ff;
	--blue-800: #1e40af;
	--blue-900: #272f51;
	--orange-600: #ea580c;
	--emerald-400: #34d399;
	--green-500: #22c55e;
	--red-500: #ef4444;
	--teal-100: #ccfbf1;
	--font-standard: "Poppins", sans-serif;
	--font-secondary: "Mulish", sans-serif;
}
